name: Release
on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    name: Build cloudflare-tunnel-operator Custom Docker Image
    strategy:
      matrix:
        include:
          - key: linux-amd64
            os: ubuntu-latest
            platform: linux/amd64
          - key: linux-arm64
            os: ubuntu-24.04-arm
            platform: linux/arm64
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: walnuts1018
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          version: latest

      - name: Build and push Docker images
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: build
        with:
          context: .
          platforms: ${{ matrix.platform }}
          outputs: type=image,name=ghcr.io/walnuts1018/cloudflare-tunnel-operator,push-by-digest=true,name-canonical=true,push=true
          cache-from: type=registry,ref=ghcr.io/walnuts1018/cloudflare-tunnel-operator-cache:${{ matrix.key }}
          cache-to: type=registry,mode=max,ref=ghcr.io/walnuts1018/cloudflare-tunnel-operator-cache:${{ matrix.key }}

      - name: Export digest
        run: |
          mkdir -p /tmp/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "/tmp/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: digests-${{ matrix.key }}
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1

  merge:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download digests
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          path: /tmp/digests
          pattern: digests-*
          merge-multiple: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Login to ghcr.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: walnuts1018
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get Tag from Release
        id: GetTag
        run: echo "ImageTag=${{ github.ref_name }}" >> $GITHUB_OUTPUT

      - name: Create manifest list and push
        working-directory: /tmp/digests
        run: |
          docker buildx imagetools create \
            -t ghcr.io/walnuts1018/cloudflare-tunnel-operator:latest \
            -t ghcr.io/walnuts1018/cloudflare-tunnel-operator:${{ steps.GetTag.outputs.ImageTag }} \
            $(printf 'ghcr.io/walnuts1018/cloudflare-tunnel-operator@sha256:%s ' *)

  chart-release:
    runs-on: ubuntu-latest
    needs: merge
    if: ${{ github.event_name == 'release' && success() }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Set chart version
        run: |
          sed --in-place "s/version-placeholder/${{ github.ref_name }}/g" charts/cloudflare-tunnel-operator/Chart.yaml
          sed --in-place "s/version-placeholder/${{ github.ref_name }}/g" charts/cloudflare-tunnel-operator/Chart.yaml
          sed --in-place "s/latest/${{ github.ref_name }}/g" charts/cloudflare-tunnel-operator/values.yaml
          sed --in-place "s/repository: controller/repository: ghcr.io\/walnuts1018\/cloudflare-tunnel-operator/g" charts/cloudflare-tunnel-operator/values.yaml

      - name: Create release notes
        run: |
          # Helm Chart のリリースノートには、本体のリリースへのリンクを追加する
          tag_version=${{ github.ref_name }}
          cat <<EOF > ./charts/cloudflare-tunnel-operator/RELEASE.md
          Helm chart [$tag_version](https://github.com/walnuts1018/cloudflare-tunnel-operator/releases/tag/$tag_version)

          EOF

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f # v1.7.0
        with:
          config: cr.yaml
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
